<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t('mailer_mount.page_title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "mailer_mount/tailwind.css", media: "all" %>
</head>
<body class="bg-slate-200">
  <main class="mx-auto max-w-3xl pt-12 pb-24">
    <%= yield %>
  </main>
</body>
</html>
